// Custom.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "@/../node_modules//bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #415b76;
$secondary:#adadad;
$success: #0e9281;
$warning: #eeb15d;
$danger: #f01e4d;
$yiq-text-dark: black;
$yiq-text-light: white;
// $yiq-contrasted-threshold: 0;
$min-contrast-ratio: 3.5; 

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "@/../node_modules/bootstrap/scss/variables";
@import "@/../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
  "slate-gray":#708090,
  "light-slate-gray":#778899,
  "rosy-brown":#BC8F8F,
  "steel-blue": #4682B4,
  "pale-violet-red":#DB7093,
  "dark-slate-blue":#483D8B,
  "corn-flower-blue":#6495ED,
  "indian-red":#CD5C5C,
  "light-coral":#f08080,
  "gray": #808080,
  "crimson":#ea8a8a,
  "dark-lava": #4B4237,
  "goldenrod": #D5A021,
  "alabaster": #EDE7D9,
  "spanish-gray": #A49694,
  "dim-gray": #736B60,
  "purple-100": $purple-100,
  "blue-200": $blue-200,
  "pink": $pink,
  "teal-800": $teal-800,
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Import all the rest of Bootstrap 
@import "@/../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here